&copy; 2025 WDD330 class project. All rights reserved.
<div class="footer-links">
    <ul>
        <li><a href="https://malta.vfwauxiliary.org/Account/NewLogin ">MALTA</a></li>
        <li><a href="https://vfwauxiliary.org/ ">National VFW Auxiliary</a></li>
        <li><a href="https://vfwauxva.org/di/vfw/v2/default.asp ">Virginia VFW Auxiliary</a></li>
    </ul>
</div>

<div class="more-footer-links">
    <ul>
        <li><a href="https://www.vafoodhandlers.com/eFoodMainReg ">Virginia Food Handlers Certification</a></li>
    </ul>
</div>